<div class="details-container">
  <mat-card class="card card-container">
    <button mat-raised-button color="warn" class="return-button" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon> Volver
    </button>
    <h2>Detalles del Jugador</h2>
    <div class="details-player-container">
      <p><strong>Steam ID:</strong> {{ player?.player_id }}</p>
      <p><strong>Nombre:</strong> {{ player?.names[0]?.name || player?.names}}</p>
      <p><strong>Kills global:</strong> {{ player?.globalKills}}</p>
      <p><strong>Muertes global:</strong> {{ player?.globalDeath}}</p>
      <p><strong>Kill/Min global:</strong> {{ player?.globalKillMin}}</p>
      <p><strong>K/D global:</strong> {{ player?.globalKillDeath}}</p>
      <p><strong>Combate global</strong> {{ player?.globalCombat}}</p>
      <p><strong>Soporte global</strong> {{ player?.globalSupport}}</p>
      <p *ngIf="player?.steaminfo?.country"><strong>País:</strong> {{ player?.steaminfo?.country || 'Desconocido' }}</p>
      <p *ngIf="player?.steaminfo?.profile"><strong>Perfil de Steam:</strong> <a [href]="player?.steaminfo?.profile"
          target="_blank">Ver Perfil</a></p>
    </div>
  </mat-card>


  <mat-card class="card">
    <div class="stats-title">
      <h3>Estadísticas del Jugador</h3>
    </div>
    <table mat-table [dataSource]="playerStats" class="mat-elevation-z8" matSort (matSortChange)="sortData($event)">
      <!-- Match ID -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Partida </th>
        <td mat-cell *matCellDef="let stat"> {{ stat.title }} </td>
      </ng-container>

      <ng-container matColumnDef="start_time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Partida </th>
        <td mat-cell *matCellDef="let stat"> {{ stat.start_time | date:'dd/MM/YYYY'  }} </td>
      </ng-container>

      <!-- Kills -->
      <ng-container matColumnDef="kills">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Kills </th>
        <td mat-cell *matCellDef="let stat"> {{ stat.kills }} </td>
      </ng-container>

      <!-- Deaths -->
      <ng-container matColumnDef="deaths">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Deaths </th>
        <td mat-cell *matCellDef="let stat"> {{ stat.deaths }} </td>
      </ng-container>

      <!-- Teamkills -->
      <ng-container matColumnDef="teamkills">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Teamkills </th>
        <td mat-cell *matCellDef="let stat"> {{ stat.teamkills }} </td>
      </ng-container>

      <!-- K/D Ratio -->
      <ng-container matColumnDef="kill_death_ratio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> K/D Ratio </th>
        <td mat-cell *matCellDef="let stat"> {{ stat.kill_death_ratio | number:'1.2-2' }} </td>
      </ng-container>

      <!-- K/D Ratio -->
      <ng-container matColumnDef="kills_per_minute">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Kill/Min </th>
        <td mat-cell *matCellDef="let stat"> {{ stat.kills_per_minute | number:'1.2-2' }} </td>
      </ng-container>

      <!-- K/D Ratio -->
      <ng-container matColumnDef="combat">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Combate </th>
        <td mat-cell *matCellDef="let stat"> {{ stat.combat }} </td>
      </ng-container>

      <!-- K/D Ratio -->
      <ng-container matColumnDef="support">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Soporte </th>
        <td mat-cell *matCellDef="let stat"> {{ stat.support }} </td>
      </ng-container>

      <!-- Encabezados -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <!-- Filas -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>
</div>
